<!DOCTYPE html>
<html>
<head>
    <title>DiaDetect</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>DiaDetect</h1>
    <p>A program that diagnoses diabetes from given information.</p>
    <p><i>By Subhash Srinivasa, Jason Xie, Komal Tummala</i></p>
    <h1>Diabetes Prediction Form</h1>
    
    <form action="/predict" method="post">
        <label for="pregnancies">Pregnancies:</label>
        <input type="number" id="pregnancies" name="pregnancies" required><br>
        <p><i>Number of times pregnant.</i></p>

        <label for="glucose">Glucose:</label>
        <input type="number" id="glucose" name="glucose" required><br>
        <p><i>Plasma glucose concentration after 2 hours in an oral glucose tolerance test.</i></p>

        <label for="bloodPressure">Blood Pressure:</label>
        <input type="number" id="bloodPressure" name="bloodPressure" required><br>
        <p><i>Diastolic blood pressure (mm Hg).</i></p>

        <label for="skinThickness">Skin Thickness:</label>
        <input type="number" id="skinThickness" name="skinThickness" required><br>
        <p><i>Triceps skin fold thickness (mm).</i></p>

        <label for="insulin">Insulin:</label>
        <input type="number" id="insulin" name="insulin" required><br>
        <p><i>2-Hour serum insulin (mu U/ml).</i></p>

        <label for="bmi">BMI:</label>
        <input type="number" id="bmi" name="bmi" step="0.01" required><br>
        <p><i>Body mass index (weight in kg/(height in m)^2).</i></p>

        <label for="diabetesPedigreeFunction">Diabetes Pedigree Function:</label>
        <input type="number" id="diabetesPedigreeFunction" name="diabetesPedigreeFunction" step="0.001" required><br>
        <p><i>Diabetes pedigree function.</i></p>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required><br>
        <p><i>Age (years).</i></p>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
